.order {
    width: 100%;
    height: 100%;
}
ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}
li {
    padding: 10px 0 0 0;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    display: inline-block;
}
li div:hover {
    text-decoration: underline;
}
.btnA {
    width: 160px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.buy {
    border-bottom: red 3px solid;
}
.buy div {
    color: red;
    font-weight: 600;
}
.sell {
    border-bottom: green 3px solid;
}
.sell div {
    color: green;
    font-weight: 600;
}
.form {
    width: 480px;
    height: 100%;
    padding: 10px 0 0 0;
    background-color: #f5f5f5;
}
