.main {
    width: 500px;
    height: 690px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.bar {
    height: 40px;
    margin: 0;
    padding: 0;
    background-color: #0c1b2b;
}
.barBuy {
    height: 40px;
    margin: 0;
    padding: 0;
    background-color: #291b1d;
}
.barChild {
    background-color: #ffacac;
    height: 25px;
    margin: 0;
    padding: 0;
}
.barChild p {
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 25px;
    font-weight: 300;
    height: 25px;
}
.buy {
    background-color: #582922 !important;
    height: 25px;
    margin: 0;
    padding: 0;
    float: left;
}
.sell {
    background-color: #0e3460 !important;
    height: 25px;
    margin: 0;
    padding: 0;
    float: right;
}
.sell p {
    float: right;
    margin-right: 10px;
    font-weight: 400;
}
.buy p {
    float: left;
    margin-left: 10px;
    font-weight: 400;
}
.table {
    width: 100%;
    height: 100px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    font-size: 12px;
    text-align: center;
    margin-bottom: 0;
}
.table td {
    border: 1px solid black;
    height: 41px;
}
.price {
    color: #fff;
    font-weight: 600;
}
.priceDown {
    color: #0062df;
    font-weight: 600;
}
.priceUp {
    color: #c84a31;
    font-weight: 600;
}
.buyTr {
    background-color: #291b1d !important;
}
.sellTr {
    background-color: #0c1b2b !important;
}
.tr {
    background-color: #0c1b2b !important;
}
.inner01 {
    width: 180px;
    height: 44px;
    text-align: right;
    margin: 0;
    padding: 0;
    position: relative;
    vertical-align: bottom;
    border-collapse: collapse;
    font-size: 100%;
    font:inherit;
    display: table-cell;
    border-spacing: 0;
}
.inner01 dl {
    border-bottom: 1px solid #84868c;
    margin: 0 8px;
    padding: 10px 0;
    padding-top: 8px;
    padding-bottom: 8px;
    overflow: hidden;
    font-size: 100%;
    font: inherit;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
}
.inner01 dl:last-of-type {
    border-bottom: none;
}
.inner01 dt {
    width: 40%;
    float: left;
    line-height: 16px;
    color: #666;
    font-size: 11px;
    text-align: left;
    padding: 0;
    display: block;
}
.inner01 dl dt, .inner01 dl dd{
    margin-top: 6px;
}
.inner01 dd {
    width: 60%;
    color: #d2d4d6;
    float: left;
    line-height: 16px;
    font-size: 11px;
    text-align: right;
    word-break: break-all;
    margin: 0;
    display: block;
}
.inner01 dd i {
    display: inline-block;
    line-height: 14px;
    color: #999;
    font-size: 10px;
}
.inner01 dd em {
    color: #999;
    display: block;
}
.inner02 {
    width: 180px;
    margin: 0;
    padding: 0;
    position: relative;
    vertical-align: top;
}
